input, textarea
  background: transparent
  border: 1px solid #7c8f9e
  color: #7c8f9e
  display: block
  margin-bottom: 10px
  max-width: 100%
  padding: 0.8em 0.5em
  transition: background 0.2s, border-color 0.2s, box-shadow 0.2s, color 0.2s
  width: 100%

input:focus, textarea:focus {
  border-color: white
  box-shadow: 0 0 10px 1px rgba(255,255,255,0.3)
  color: white
  outline: none
}

button
  background #7c8f9e
  border 0
  color: white
  display: block
  margin-bottom: 10px
  padding: 0.8em 0.5em
  transition: all 0.2s
  width: 100%

button[disabled]
  opacity: .5
  &:hover
    background: #7c8f9e
    color: white

button:hover, button[type=submit]:focus
  background: white
  color: #7c8f9e
  outline: none

button[type=button]:focus
  outline: none

.form__message
  display: block
  padding: 20px 0
  text-align: center
  width: 100%

.form__message--error
  color: #f44336

.print
  background-color: pink
  border: 0
  color: white
  margin: 0
  width: 49%

.print:hover, .print:focus
  background-color: dark-pink
  color: white