input, textarea
  background: #0000
  border: 2px solid
  color: #b5b5b5
  display: block
  margin-bottom: 10px
  max-width: 100%
  padding: 0.8em 0.5em
  transition: all 0.25s
  width: 100%

input:focus, textarea:focus {
  background: gray
  border-color: gray
  color: dark-blue
  outline: none
}

button
  background: #b5b5b5;
  border: 0;
  color: dark-blue;
  display: block
  margin-bottom: 10px
  padding: 0.8em 0.5em;
  transition: all 0.25s;
  width: 100%;

button:hover, button:focus
  background: gray
  outline: none

.print
  background-color: #E91E63
  border: 0
  color: white

.print:hover, .print:focus
  background-color: #D81B60