input, textarea
  background: #0000
  border: 2px solid
  color: gray
  display: block
  margin-bottom: 10px
  max-width: 100%
  padding: 0.8em 0.5em
  transition: all 0.2s
  width: 100%

input:focus, textarea:focus {
  background: gray
  border-color: gray
  color: dark-blue
  outline: none
}

button
  background: gray;
  border: 0;
  color: dark-blue;
  display: block
  margin-bottom: 10px
  padding: 0.8em 0.5em;
  transition: all 0.2s;
  width: 100%;

button:hover, button:focus
  background: gray
  outline: none

.print
  background-color: pink
  border: 0
  bottom: 20px
  color: white
  margin-bottom: 0
  position: absolute
  width: calc(100% - 40px)

.print:hover, .print:focus
  background-color: dark-pink