@require './normalize.styl'
@require './_*.styl'

.sidebar
  background: #2f3238
  color: #b5b5b5
  display: flex
  flex-direction: column
  float: left
  height: 100vh
  overflow-y scroll
  padding: 20px
  position: relative
  width: 30%

.react-tabs
  flex: 0 0 auto

.sidebar__actions
  display: flex
  flex: 1 0 auto
  flex-direction: column
  justify-content: flex-end
  margin-top: 40px
  overflow: hidden

.task-form
  margin: 0 auto

.preview
  display: block
  float: left
  height: 100vh
  overflow-y scroll
  padding: 20px
  width: 70%

.document
  background: white
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
  height: 1329px
  margin: 0 auto
  position: relative
  width: 960px

@media print
  .sidebar
    display: none

  .preview
    padding: 0
    height: auto
    min-height: 100vh
    overflow-y: visible
    width: 100%

  .document
    box-shadow: none
    min-height: 100vh