@require './normalize.styl'
@require './_*.styl'

body
  background #f6f6f6
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  font-family 'Open Sans', sans-serif
  font-size 2rem

.sidebar
  background: #020204
  background: linear-gradient(#020204, #5b7687)
  color: white
  display: flex
  flex-direction: column
  float: left
  height: 100vh
  overflow-y scroll
  padding: 20px
  position: relative
  width: 30%

.react-tabs
  flex: 0 0 auto

.sidebar__actions
  align-items: flex-end
  display: flex
  flex: 1 0 auto
  flex-direction: row
  justify-content: space-between
  margin-top: 40px
  overflow: hidden

.task-form
  margin: 0 auto

.preview
  display: block
  float: left
  height: 100vh
  overflow-y scroll
  padding: 20px
  width: 70%

.document
  background: white
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
  margin: 0 auto
  min-height: 1329px
  position: relative
  width: 960px
 
@media print
  .sidebar
    display: none

  .preview
    padding: 0
    height: auto
    min-height: 100vh
    overflow-y: visible
    width: 100%

  .document
    box-shadow: none
    min-height: 100vh
    width: 100vw

.print-preview
  .sidebar
    display: none

  .preview
    padding: 0
    height: auto
    min-height: 100vh
    overflow-y: visible
    width: 100%

  .document
    box-shadow: none
    min-height: 100vh
    width: 100%

  #__bs_notify__
    display: none;

  .invoice__table
    width: 100%

  .invoice__table thead th
    width: 10%

  .invoice__table thead th:first-child
    width: 55%

  .invoice__table thead th:last-child
    width: 25%

  .invoice__remove
    display: none